AI-Agent-Workflow-Clean.json
{
  "name": "AI-Agent-Workflow-Clean",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        32
      ],
      "id": "a9779aa9-fb2a-4c04-bcb7-41c3aecca4f8",
      "name": "Telegram Trigger",
      "webhookId": "REMOVED",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        32
      ],
      "id": "0ce42317-251e-419f-b836-ed6e3e995e0a",
      "name": "Download from Telegram",
      "webhookId": "REMOVED"
    },
    {
      "parameters": {
        "chatId": "REMOVED",
        "text": "=Title: {{ $json.Title }}\nCompany: {{ $json.Company }}\nLocation: {{ $json.Location }}\nJob Score: {{ $json.Score }}\nApply: {{ $json.Link }}\nSkill Set required: {{ $json.SkillRequired }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        688
      ],
      "id": "d7bcb3e5-deca-4f46-ab0f-1ad380efc65f",
      "name": "Send a text message",
      "webhookId": "REMOVED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "score-check",
              "leftValue": "={{ $json.Score.toNumber() }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        800
      ],
      "id": "c03bce42-4094-4dbf-b708-ead0f0754f34",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        800
      ],
      "id": "dfc2f7a2-3eda-4df8-8624-0d46ec7ae031",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        1024
      ],
      "id": "f85ddc8a-b351-410c-9074-a66a10c8fd45",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZVNNTErO19OJ1AfJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, Generate a comprehensive list of skills. If a skill is explicitly mentioned in the JD, label it as \"Must Have\".\n\nIf a skill is standard for this job profile but not mentioned in the JD, label it as \"Recommended\". Each skill should be a string pair formatted as: \"Skill Name (Category)\". Mention all the skill set in a single string line by line.\n\nFor example your response should be like: {\"score\": 80, \"Required_skillset\": \"sample skill set\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Extract from File').item.json.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        800
      ],
      "id": "ae6273df-d1ba-4089-ae03-f6114ba77204",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "desc-clean",
              "name": "description",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "job-id-clean",
              "name": "jobid",
              "value": "={{ $json.jobid.split(\":\").last() }}",
              "type": "string"
            },
            {
              "id": "link-gen",
              "name": "applyLink",
              "value": "={{ \"[https://www.linkedin.com/jobs/view/](https://www.linkedin.com/jobs/view/)\"+ $json.jobid.split(\":\").last() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        384
      ],
      "id": "920f84c2-0571-4e18-9ea4-07d1a7027a75",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        496,
        384
      ],
      "id": "49d78cf9-be34-45fa-8261-55f795866ca8",
      "name": "HTML1"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        384
      ],
      "id": "75ecaad6-7009-42de-98a2-c45308811002",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -32,
        384
      ],
      "id": "ec0e2459-b46b-4b3c-81b6-f73e64754eee",
      "name": "Wait",
      "webhookId": "463efa3e-838c-463c-9caa-7c6c9f7434c9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2512,
        1392
      ],
      "id": "04c8d45c-9606-4981-bfbc-2725f6d1351e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        32
      ],
      "id": "d4865e04-020b-45ff-95bb-ab66fc54fa47",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1216,
        32
      ],
      "id": "f39f6251-39e7-4944-9f96-1168e7ea5a09",
      "name": "HTML"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        32
      ],
      "id": "20cc3569-8408-48d5-bbfa-ba2fe5f68d72",
      "name": "Fetch Jobs from LinkedIn"
    },
    {
      "parameters": {
        "jsCode": "const roles = [\"Software Developer\", \"Data Analyst\"];\nconst cities = [\"Pune\", \"Bangalore\"];\nlet url = \"[https://www.linkedin.com/jobs/search/?f_TPR=r86400](https://www.linkedin.com/jobs/search/?f_TPR=r86400)\";\nconst roleQuery = `(${roles.join(\" OR \")})`;\nconst cityQuery = `(${cities.join(\" OR \")})`;\nurl += `&keywords=${encodeURIComponent(roleQuery + ' ' + cityQuery)}`;\nurl += `&location=India&f_E=1,2&f_EA=true`;\nreturn { url };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        32
      ],
      "id": "1229c9be-14a1-45e9-a53d-52515e60112a",
      "name": "Create Search URL"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        464,
        32
      ],
      "id": "3fb5eba6-7967-4774-90aa-d5baedd87620",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "REMOVED",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Edit Fields').item.json.applyLink }}",
            "Title": "={{ $('Edit Fields').item.json.title }}",
            "Company": "={{ $('Edit Fields').item.json.company }}",
            "Location": "={{ $('Edit Fields').item.json.location }}",
            "Score": "={{ $json.score }}",
            "Description": "={{ $('Edit Fields').item.json.description }}",
            "SkillRequired": "={{ $json.Required_skillset }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        784,
        800
      ],
      "id": "3c0dea76-abe8-4437-9496-33ef3db6b293",
      "name": "Insert row1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Download from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Telegram": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create Search URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Search URL": {
      "main": [
        [
          {
            "node": "Fetch Jobs from LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs from LinkedIn": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7710fc3-4331-47d9-b685-5d16530c7dfc",
  "meta": {
    "instanceId": "c44d446226c564cad28d88a299da8b8823cd756a2a445eb54b80c36a32250960"
  },
  "id": "BwcJVkCinNkMBxgT",
  "tags": []
}